In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
train = pd.read_csv('/home/necati/machine_learning/Kaggle/Kaggle_datasets/trainHousePrice.csv')
test = pd.read_csv('/home/necati/machine_learning/Kaggle/Kaggle_datasets/testHousePrice.csv')

In [12]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [15]:
train.iloc[:, [i for i in range(10, 20)]]

,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt
0,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003
1,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976
2,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001
3,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915
4,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000
...,...,...,...,...,...,...,...,...,...,...
1455,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999
1456,Inside,Gtl,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978
1457,Inside,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941
1458,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,6,1950
1459,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,5,6,1965